body{
	
}
.slider{
	background-image: url("bg.jfif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	animation: slide 20s infinite;

}
.load{
	animation: slide 2s;
}
@keyframes slide{
	0%{
		background-image: url("bg2.jpg");
	}
	30%{
		background-image: url("bg3.jpg");
	}
	60%{
		background-image: url("bg6.jpg");
	}
}
button a{
	text-decoration: none;
}
h1{
	color: white;
	text-shadow: rgba(0,0,0,0.4),rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1);
}
h3{
	color: white;
	text-shadow: rgba(0,0,0,0.4),rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1);
}
hr{
	width: 400px;
	border-top: 2px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}